.pagination {
    padding: 10px;
    justify-content: center;
    li {
        
        background: var(--logo-text-color);
        color: var(--bg-text-color);
        margin-right: 15px;
        cursor: pointer;
        border-radius: 5px;
        a {
            display: block;
            height: 100%;
            width: 100%;
            padding: 15px;
            box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
            font-size: 1.4rem;
        }
    }

    li.active {
     
    }
}