.fixed-height {
    min-height: 100vh;
}

.form-overlay {
    height: 100vh;

    .form-overlay-left {
        background: var(--bg-home-webkit);
       
   
        img {
            opacity: 0.85;
            height: 100%;
            width: 90%;
           
        }

        .card-go-back {
            background: var(--bg-text-color);
            padding: 15px;
            border-radius: 5px;
            position: absolute;
            top: 50px;
            left: 50px;
            text-decoration: none;
            font-size: 1.6rem;
            color: var(--text-color);
        }

        .card {
            width: 250px;
            border-radius: 5px;
            height: 200px;
            margin-bottom: 4rem;
        }

        h1 {
            font-size: 5rem;
            margin-bottom: 4rem;
            color: var(--bg-text-color);
        }

        p {
            font-size: 3rem;
            margin-bottom: 3rem;
            color: var(--bg-text-color);
        }
    }

    .form-overlay-right {
        h1 {
            font-size: 4rem;
            color: var(--logo-text-color);
        }
    }
}


// Auth form

.auth-form {
    display: flex;
    flex-direction: column;
    
    font-size: 1.6rem;
    fieldset {
        display: flex;
        align-items: center;

        input[type=number],
        input[type=text],
        input[type=password] {
            border-top: 0;
            border-left: 0;
            border-right: 0;
            outline: none;
            border-bottom: 2px solid var(--text-color);
            &:focus {
                border-bottom: 2px solid var(--logo-text-color);
                transition: 0.4s ease-in-out;
            }
        }

        label {
            min-width: 9rem;
        }
    }

    input[type=submit] {
        padding: 10px;
        border: 2px solid var(--text-color);
        background: var(--bg-text-color);

        &:hover {
            background: var(--logo-text-color);
            color: var(--bg-text-color);
       
            transition: 0.4s ease-in-out;

        }
    }

    
}