.bg-container {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.1;
    z-index: 1;
}

.single-crypto-card {

    padding: 20px;
    min-width: 350px;
    border-radius: 5px;
    background: var(--bg-text-color);
    img {
        width: 4.8rem;
        height: 4.8rem;
    }

    h1 {
        font-size: 3rem;
    }
}

.fixed-section {
    position: relative;
    top: -50px;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.section {
    h1,
    h2,
    h3 {
        font-size: 2.4rem;
        margin-bottom: 2rem;
        font-weight: 800;
    }

    p {
        font-size: 1.6rem;
        margin-bottom: 2rem;
        line-height: 3rem;
        color: var(--article-text-color);
    }

    .menu-section {
        display: flex;
  
        justify-content: space-around;
        .menu-item {
            opacity: 0.3;
            font-size: 2rem;
            position: relative;
        }

        .menu-item-active {
            opacity: 1;
           &:after {
            content: "";
            position: absolute;
            bottom: -15px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: var(--active-nav);
           } 
           transition: 0.4s ease-in;
        }
        margin-bottom: 3rem;
        cursor: pointer;
        .navlinks .active-nav {
            position: relative;
            color: var(--text-color);
        }
    }
}