.coin-card {
    min-height: 175px;
    width: 100%;
    background: var(--bg-text-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    position: relative;
    color: var(--text-color);
    &:hover {
        box-shadow: 0rem 1rem 3rem rgba(170, 169, 169, 0.781) !important;
    }

    .card-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.05;
        z-index: 1;
        border-radius: 5px;
    }

    img {
        height: 64px;
        width: 64px;
        object-fit: contain;
    }

    h3 {
        font-size: 2.6rem;
      
    }

    p,
    svg {
        font-size: 2rem;
    }

    .price-green {
        color: rgb(76, 231, 76);
    }

    .price-red {
        color: rgb(252, 90, 90);
    }
}

.random-cards {
    position: relative;
    top: -120px;
}