@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Ubuntu:wght@700&display=swap');
@import '../../variables.scss';


.jumbotron {
    background: #fff;
    min-height: 70rem;
    

    .jumbotron-left {
        height: 70rem;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: $md) {
            height: 50rem;
            margin-top: 5rem;
        }
    }

    .jumbotron-right {
        display: flex;
        align-items: center;
        img {
            width: 250px;
            height: 450px;

          
        }

        @media screen and (max-width: $md) {
           justify-content: center;
           align-items: flex-start;

           img {
            width: 180px;
            height: 180px;
            position: absolute;
            top: 370px;
           }
        }
    }

    #intro-text {
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        font-size: 6.5rem;


        @media screen and (max-width: $md) { 

            font-size: 4.5rem;
        }

    }
}


.jumbotron-crypto {
    height: 400px;
    position: relative;
}