@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Ubuntu:wght@700&display=swap');

.jumbotron {
    background: #fff;
    min-height: 70rem;
    

    .jumbotron-left {
        height: 70rem;
        justify-content: center;
    
        
    }

    .jumbotron-right {
        display: flex;
        align-items: center;
        img {
            width: 250px;
            height: 450px;
        }
    }

    #intro-text {
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        font-size: 6.5rem;
    }
}