.form-overlay {
    height: 100vh;

    .form-overlay-left {
        background: var(--bg-home-webkit);

        img {
            opacity: 0.85;
            height: 100%;
            width: 90%;
        }

        .card {
            width: 250px;
            border-radius: 5px;
            height: 200px;
        }
    }
}