
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

:root {
    font-size: 10px;
    --bg-home:  linear-gradient(to bottom right, #56C6EF, #1F5BDC);
    --bg-home-moz: -moz-linear-gradient(top left, #56C6EF, #1F5BDC);
    --bg-home-webkit: -webkit-linear-gradient(top left, #56C6EF, #1F5BDC);
    --bg-filter: #ffffff;
    --bg-header: #ffffff;
    --text-color: #000000;
    --logo-text-color: #2a60d3;
    --active-nav: #2b4680;
    --nav-text-color: #899488;
    --nav-button-color: #ffffff;
}




body {
    font-family: 'Lato', sans-serif !important;

    position: relative;
    color: var(--text-color);
}

.home {
    min-height: 100vh;   
    background: var(--bg-home);
    background: var(--bg-home-moz);
    background: var(--bg-home-webkit);

}

.filter-white {
    height: 100%;
    z-index: 999;
    position: absolute;
    width: 100%;
    background: var(--bg-filter);
    opacity: 0.50;
}



